<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="/script.js"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body style="background-color: #92DDF4;">
	<div class = "navbars">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">YardSail</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
						<li class="<%= controller.controller_name == 'pages' && controller.action_name == 'index' ? 'active' : '' %> full"><a href="/pages/index">Browse</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Appliances</a></li>
								<li><a href="#">Art</a></li>
								<li><a href="#">Clothes</a></li>
								<li><a href="#">Education</a></li>
								<li><a href="#">Electronics</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Furniture</a></li>
								<li><a href="#">Media</a></li>
								<li><a href="#">Other</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="full">
							<% if user_signed_in? %>
							<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
							<% else %>
							<%= link_to "Sign up", new_user_registration_path %>
							<% end %>
						</li>
						<li class="full">
							<% if user_signed_in? %>
							<% else %>
							<%= link_to "Log in", new_user_session_path %>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<div class="container" style="background-color: white;">
		<div class="row">
			<div class="col-md-12 well">
				Search a Location: <input id="map-search" class="controls" type="text" placeholder="Search Box"><br></br>
				<div id="map" style='height: 400px;'></div>
				<input type="hidden" id="lat"/>
				<input type="hidden" id="lng"/>
				<br>
				<% Post.all.each do |p| %>
					<input id="latVal" type="hidden" value="<%= p.lat %>" />
					<input id="lngVal" type="hidden" value="<%= p.lng %>" />
					Location: <input value="<%= p.lat %>, <%= p.lng %>" />
					<script>
					addPost(document.getElementById("latVal").value, document.getElementById("lngVal").value);
					document.getElementById("latVal").id = "a";
					document.getElementById("lngVal").id = "b";
					</script>
					<div class="well" style="background-color: white;">
					<div class="posttitle" style="font-size:24px;font-family:'Abel',Arial;text-trasnform:bold;color:navy;"><%= p.title %></div>
					<div class="postdesc" style="font-family: 'Abel', Arial;font-size: 20px;"Description:<p><%= p.desc %></p></div>
					<div class="postprice" style="font-family: 'Abel', Arial;font-size: 16px;float:left;margin-right: 50px; padding-bottom: 20px;"<p>Price: $<%= p.price %></p></div>
					<div class="postcate" style="font-family: 'Abel', Arial;font-size: 16px;float:left;margin-right: 50px;padding-bottom: 20px;"<p>Category: <%= p.category %></p></div>
					<div class="posttime" style="font-family: 'Abel', Arial;font-size: 16px;float:left;margin-right: 50px;padding-bottom: 20px;"<p>Posted at: <%= p.created_at %></p></div>
					<br>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>
